@use "../../../../assets/scss/ui/import" as *;

.gridBoard {
  --board-padding: 0.65rem;

  position: relative;
  display: grid;
  gap: var(--tile-gap);
  padding: var(--board-padding);
  background: $primaryBackground;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.24);
  width: max-content;
}
