@use "../../../../assets/scss/ui/import" as *;

.gridBoard {
  --board-padding: 20px;

  position: relative;
  display: grid;
  gap: var(--tile-gap);
  padding: var(--board-padding);
  background: #aaaaaa;
  border-radius: 0;
  border: none;
  width: max-content;
  border-radius: 8px;
}
